<section class="fixed flex flex-col w-full h-full items-center overflow-y-scroll transition-all duration-300 p-8"
         id="section-projects" {{ stimulus_controller('projects') }}>
    <div class="flex flex-col container justify-center items-center gap-6 mt-16 text-center">
        <h2 class="text-white text-3xl">MY TOP 3 PROJECTS FRONT-END</h2>
        <div class="flex flex-row w-full overflow-visible justify-center items-center gap-20">
            <div class="card"
                 style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                    <h3 class="text-white text-2xl mb-5">test</h3>
                </div>
            </div>
            <div class="card w-[300px] h-[450px]"
                 style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                    <h3 class="text-white text-2xl mb-5">test</h3>
                </div>
            </div>
            <div class="card"
                 style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                    <h3 class="text-white text-2xl mb-5">test</h3>
                </div>
            </div>
        </div>
        <h2 class="text-white mt-20 text-3xl">MY TOP 3 PROJECTS BACK-END</h2>
        <div class="flex flex-row w-full overflow-visible justify-center items-center gap-20">
            <div class="card"
                 style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                    <h3 class="text-white text-2xl mb-5">test</h3>
                </div>
            </div>
            <div class="card w-[300px] h-[450px]"
                 style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                    <h3 class="text-white text-2xl mb-5">test</h3>
                </div>
            </div>
            <div class="card"
                 style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                    <h3 class="text-white text-2xl mb-5">test</h3>
                </div>
            </div>
        </div>
        <div class="flex flex-col container justify-start items-start gap-6 mt-16 text-center overflow-x-scroll">
            <h2 class="text-white">ENTREPRISE</h2>
            <div class="flex flex-row">
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
            </div>
            <h2 class="text-white">PERSONNAL</h2>
            <div class="flex flex-row">
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
                <div class="card"
                     style="background-image: url('{{ asset('images/projects/test.jpg') }}') !important;">
                    <div class="absolute bottom-0 bg-gradient-to-t from-black z-10 h-full w-full flex justify-center items-end">
                        <h3 class="text-white text-2xl mb-5">test</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
